.Bloghomepage {
  background: #fff7f4;
}
.Bloghomepage_container{
    padding: 70px 0px !important;
}
.Bloghomepage_h1 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 123.6%;
  text-transform: capitalize;
  text-align: center;
  color: #373737;
}
.Bloghomepage_h6 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  text-align: center;
  color: #373737;
}
