/* header css */
.digiency-img {
  margin-top: 10px;
}
.cont {
  background-color: #373737;
}
.navb {
  color: black;
}

#navbartoggle {
  background-color: black;
}
#navcollapse {
  color: black;
}
#navcollapse Nav {
  margin-left: 90px;
}
.navlist {
  font-size: 18px;
  margin-left: 60px;
  text-align: right;
}
#navcollapse .nav-link{
  color: black;
  margin-left: 18px;
}
/* header css end */

/* banner css */
.banner {
  width: 220px;
  height: 300px;
  background-color: #fff7f4;
}

.landing {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}
.landing h1 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 123.6%;

  text-align: center;
  text-transform: capitalize;

  color: #373737;
}
.title {
  text-align: center;
  font-family: "DM sans" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150.6%;

  color: #373737;
}
/* banner end css */

/* blog-detail css  */
.clk-h6 {
  margin-top: 13px;
  font-family: "DM sans" sans-serif;
  color: #7b7b7b;
}
.user-h6 {
  margin-top: 13px;
  font-family: "DM sans" sans-serif;
  color: #7b7b7b;
}
.comment-h6 {
  margin-top: 13px;
  font-family: "DM sans" sans-serif;
  color: #7b7b7b;
}
.blogpara1 {
  font-family: "DM sans" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
}
.blogpara2 {
  font-family: "DM sans" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
}
.para3 {
  font-family: "DM sans" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
}
.blogpara4 {
  font-family: "DM Sans" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
}
.blogpara5 {
  color: #7b7b7b;
}
.profile {
  left: 0px;
  top: 0px;
  background: #fff7f4;
}
.profilename h5 {
  margin-top: 20px;
  font-family: "DM sans" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  color: #373737;
  margin-left: 2px;
}
.profilename h6 {
  font-family: "DM sans" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  margin-left: 2px;
  color: #ff5300;
}
.profilname p {
  font-family: "DM sans" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  margin-left: 2px;
  margin-top: -5px;
  color: #7b7b7b;
}
/* blogdetail end css */

/* comment css */
.commenttitle h6 {
  font-family: "dm sans" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  color: #373737;
}

.gwen {
  align-items: center;
}
.disque h6 {
  text-align: center;
  font-family: "dm sans" sans-serif;
}

.line {
  display: block;
  margin-after: 0.5em;
  margin-before: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  margin-top: 2px;
}
.recommended h6 {
  font-family: "DM sans" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;

  color: #7b7b7b;
}
#drop {
  font-family: "DM Sans" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 123.6%;
  background: none;
  border: none;
  color: #7b7b7b;
  float: right;
}
#drop:focus , #drop:active{
  box-shadow: none; 
  /* outline: none; */
}
.inputbox {
  border: 1px solid #767676;
  border-radius: 10px;
}
.rubendetail h6 {
  font-family: "DM Sans" sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #ff5300;
}
.rubendetail p {
  font-family: "DM Sans" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
}
/* comment css end */

/* latestpost card */
.latestpost-card1 h6 {
  margin-bottom: 50px;
}
.searchbox {
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.latest-post {
  margin-left: 25px;
  font-family: "Dm sans" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.latestpost-card1 {
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
/* latestpost card1 css end */

/* categories css */
.catagories{
  height: 350px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.catogory-h6 {
  font-family: "Dm sans" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  margin-top: 12px;
  color: #7b7b7b;
}

.category {
  left: 0px;
  top: 30px;
  padding: 1px;
  background: #ffffff;
}
.category-title {
  font-family: "Dm sans" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;
  margin-top: 30px;
  margin-left: 20px;
  color: #373737;
}
.categ-number {
  width: 30px;
  height: 30px;
  left: 322px;
  margin-top: 10px;

  /* Gray ( Paragraph ) */

  border: 1px solid #7b7b7b;
  box-sizing: border-box;
}

.categ-number h6 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20.8px;
  line-height: 123.6%;
  /* identical to box height, or 16px */
  text-align: center;
  margin-top: 1px;
  text-transform: capitalize;

  /* Gray ( Paragraph ) */

  color: #7b7b7b;
}
/* catagories css end */

/* tags css */
.tags {
  /* height: 200px; */
  left: 0px;
  top: 50px;
  padding: 10px;
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.tagss-h6 {
  font-family: "Dm sans" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
  background-color: #fff7f4;
}
.tag-h6 {
  font-family: "DM sans" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;

  color: #373737;
}
.tagss {
  color: #7b7b7b;
  text-align: left;
}
/* tags css end */

/* footer css */
.cont .footer p{
  margin-top: 10px;
  color: white;
}
.img1 {
  background-color: white;
}
.cont .footer .icons{
  margin-top: 20px;
  margin-right: 40px;
} 
.cont .footer .icons Image{
  background-color: white;
}
 .cont .footer .company{
  margin-top: 30px;
} 
.company h3{
  color:white;
  margin-left: -1px;
}
.cont .company .nav-link{
  color: white;
  padding: 6px;
}
.cont .footer .company{
  margin-top: 30px;
} 
.services h3{
  color:white;
}
.cont .services .nav-link{
  color:white;
  padding: 6px;
}
.Newsletter h3{
  color:white;
}
.cont .Newsletter p{
  color: white;
  margin-top: 20px;
  margin-left: -3px;
}
.footer-inputbox{
  border: 1px solid #FF5300;
  margin-top: 30px;
}
#basic-addon2{
  background-color: #FF5300;
}
.copyright{
  background-color: #FF5300;
  margin-top: 20px;
}
.copyrightimage{
  margin-top: 13px;
  margin-left: 70px;
}
.copyright p{
  margin-top: 9px;
  color: white;
  margin-left: 50px;
}
.arrow{
  margin-top: 9px;
  float: right;
  margin-right: 0px;
}
/* footer end css */
@media (max-width: 768px) {
  .copyright {
    display: none;
  }
}
@media (max-width: 420px) {
  .landing {
    font-size: 25px;
  }
  .para {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .landing {
    font-size: 20px;
  }
  .para {
    font-size: 18px;
  }
}

/* content media query */

@media (max-width: 1191px) {
  .clk-h6 {
    font-size: 10px;
    margin-top: 15px;
  }
  .clock {
    height: 15px;
    width: 15px;
  }
  .user-h6 {
    font-size: 10px;
    margin-top: 15px;
  }
  .user {
    height: 15px;
    width: 15px;
  }
  .comment-h6 {
    font-size: 12px;
    margin-top: 15px;
  }
  .coment {
    height: 15px;
    width: 15px;
  }
}

@media (max-width: 991px) {
  .clk-h6 {
    font-size: 8px;
    margin-top: 17px;
  }
  .clock {
    height: 12px;
    width: 12px;
  }
  .user-h6 {
    font-size: 8px;
    margin-top: 17px;
  }
  .user {
    height: 12px;
    width: 12px;
  }
  .coment-h6 {
    font-size: 8px;
    margin-top: 17px;
  }
  .coment {
    height: 12px;
    width: 12px;
  }
}
@media (max-width: 768px) {
  .clk-h6 {
    font-size: 12px;
  }
  .user-h6 {
    font-size: 12px;
  }
  .coment-h6 {
    font-size: 12px;
  }
}
@media (max-width: 420px) {
  .clk-h6 {
    font-size: 10px;
  }
  .user-h6 {
    font-size: 10px;
  }
  .coment-h6 {
    font-size: 10px;
  }
}
@media (max-width: 382px) {
  .clk-h6 {
    font-size: 8px;
  }
  .clock {
    height: 9px;
    width: 9px;
  }
  .user-h6 {
    font-size: 8px;
  }
  .user {
    height: 9px;
    width: 9px;
  }
  .coment-h6 {
    font-size: 8px;
  }
  .coment {
    height: 9px;
    width: 9px;
  }
}

@media (max-width: 341px) {
  .clk-h6 {
    font-size: 9px;
    margin-top: 19px;
  }
  .user-h6 {
    font-size: 9px;
    margin-top: 19px;
  }
  .coment-h6 {
    font-size: 7px;
    margin-top: 19px;
  }
}
@media (max-width: 992px) {
  .coment {
    font-size: 2px;
  }
}
@media (max-width: 420px) {
  .commenttitle h6 {
    font-size: 14px;
  }
  .recommended h6 {
    font-size: 14px;
  }
  #drop {
    font-size: 14px;
  }
}
@media (max-width: 354px) {
  .recommended h6 {
    font-size: 15px;
  }
  #drop {
    font-size: 13px;
  }
}

/* navbar mediaquery */
@media (max-width: 992px) {
  .dark {
    display: contents;
  }
}

.dark1 {
  float: right;
}
/* navbar mediaqueryend */

@media (max-width: 768px) {
  .card3 {
    width: 400px;
    margin: auto;
  }
}
@media (max-width: 420px) {
  .card3 {
    width: 350px;
    margin: auto;
  }
}
@media (max-width: 370px) {
  .card3 {
    width: 310px;
  }
}
@media (max-width: 330px) {
  .comment-h6 {
    margin-top: 12px;
  }
}
@media(max-width:520px){
  .banner{
    height: 250px;
    width:100px
  }
  .banner h1{
    font-size: 20px;
    margin-bottom: 12px;
    margin-top: 80px;
  }
  .banner p{
    font-size: 15px;
  }
}
@media(max-width:1999px){
  .Newsletter{
    order: 4;
  }
}
@media(max-width:992px){
  .company{
    order: 4;
  }
  .Newsletter{
    order: 2;
  }
  .footer-inputbox{
    margin-top: 45px;
  }
}
@media(max-width:768px){
  .Newsletter{
    order: 4;
  }
}
@media(max-width:420px){
  .rubendetail{
    margin-left: 12px;
  }
  .alfonsodetail{
    margin-left: 12px;
  }
  .cooperdetail{
    margin-left: 12px;

  }
}